@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
}

h1, p, .logo {
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.container::after {
  position: absolute;
  content: '';
  height: 100vh;
  width: 100%;
  background-image: url("img/blur-botanical-close-up-175274.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  transition: all 0.3s ease;
}

.container:hover::after {
  filter: blur(2px);
  transition: all 0.3s ease;
  -webkit-filter: blur(2px);
}

h1 {
  margin-bottom: 50px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 800;
  letter-spacing: 3px;
  z-index: 1;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 50px;
  z-index: 1;
  text-shadow: 1px 1px 2px black;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 2px solid white;
  z-index: 1;
  transition: all 0.3s ease;
}

#logo-txt {
  letter-spacing: 2px;
  font-size: 32px;
}

.logo:hover{
  cursor: pointer;
  transition: all 0.3s ease;
}